doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' type='text/css' href='../dist/main.css')
        title E13 Homework
    body
        .math
        h3 Получение данных с JSON сервера
        button.jsonData-request Запрос данных
        .jsonData-response
